# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
staticfiles/

# Environment variables
.env

# User uploaded files
media/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# .gitignore
.env
.env.*
config/smtp.json
secrets.yaml
