# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log

# Database
db.sqlite3

# Environment variables
.env

# Media uploads
media/

# Static files
staticfiles/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db