{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark premium-navbar">
  <div class="container">
  <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
    <img src="{% static 'images/logo.png' %}"
         alt="Donya-e-Eqtesad Logo"
         class="site-logo">

    <span class="site-name">Donya-e-Eqtesad</span>
</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>
{% if user.is_authenticated %}

<li class="nav-item">

    <a class="nav-link" href="{% url 'dashboard' %}">
         Dashboard
    </a>

</li>

<li class="nav-item">

    <a class="nav-link" href="{% url 'article_create' %}">
         Create Article
    </a>

</li>

<li class="nav-item">

    <span class="nav-link">
         {{ user.username }}
    </span>

</li>

<li class="nav-item">

    <form action="{% url 'logout' %}" method="post">

        {% csrf_token %}

        <button class="btn btn-link nav-link">
             Logout
        </button>

    </form>

</li>

{% else %}

<li class="nav-item">

    <a class="nav-link" href="{% url 'login' %}">
        Login
    </a>

</li>

<li class="nav-item">

    <a class="nav-link" href="{% url 'signup' %}">
        Sign Up
    </a>

</li>

{% endif %}
      </ul>
    </div>
  </div>
</nav>
